.header_backbutton {
    border: none;
    background: none; /* Remove background */
    padding: 0; /* Remove default padding */
    outline: none; /* Remove outline on focus */
    cursor: pointer; /* Ensure the cursor remains a pointer */
}